---
title: Getting started in the Personal Kiatsu&reg; School
meta_title: Getting started in the Personal Kiatsu&reg; School
meta_description: To begin training in the Personal Kiatsu&reg; School, contact the school at (503) 624-6501 or send in an application form.
---

%h2 A new four week introductory program&hellip;<br />spring, fall and winter sessions

= image_tag 'arm_kiatsu.jpg', alt: 'Kiatsu helps bodies heal faster. Photo by Brent Miller.', title: 'Kiatsu helps bodies heal faster. Photo by Brent Miller.'

%p Get a &#8220;hands on&#8221; feel for <a href="index.html" title="Find out more about Kiatsu">Kiatsu&reg;</a>, the art of healing with Ki (living energy). Learn how to relax fully, increase vitality and calmness, and enhance daily life through mind and body coordination, Kiatsu, Ki Breathing, Ki meditation, and Ki health exercises.

%p A $70 package includes membership in the Ki Society and four classes. These classes are conducted Wednesday evenings from 6:15 to 8:15 pm.

%p Call the Kiatsu school at (503) 624-6501 to signup for the next class or for more information.

%p Please see the <a href="/locations/kiatsu.php#calendar" title="See the Personal Kiatsu School calendar">current schedule</a> for information on upcoming seminars.

%h2 Kiatsu school program

%p The Kiatsu School program is built around five weekend seminars based on the teaching of <a href="/koichi_tohei_sensei.html" title="Find out more about Tohei sensei">Koichi Tohei sensei</a> that occur periodically throughout the year.  The seminar material is then reviewed and training is individualized in two and one half hour evening classes once a week.  Minimum participation is one evening class every two weeks.  Students who attend all available classes and seminars will complete the program in about 36 months.  Many students with busy lives will choose to take longer.  Training is individualized to accommodate each person's needs.

%p Classes are small allowing for ample personal attention.  Students learn to do self Kiatsu and improve their own health as well as learning to press others.  The school is the only licensed Kiatsu School outside of Japan.  It is certified by <a href="http://www.ki-society.com/english/index.html" title="Go to the Ki Society International website">Ki Society headquarters</a> and teaches <a href="/ki/what_is_ki.html" title="Learn more about Ki principles">universal principles</a> as taught by Koichi Tohei Sensei.

%h2 Third year program
%p Graduate Kiatsu students are strongly encouraged to continue training and development in the Kiatsu School. Our growth as a human being and our abilities in Kiatsu can and should continue to improve throughout our lives!

%p To facilitate this growth the Personal Kiatsu School offers a third year program, as follows:

%ol
  %li Attendance at regular weekly or bi-weekly classes. Graduates will function as both as students and as assistants to the instructor, and have opportunities to learn to press injuries.
  %li Attendance at the Kiatsu seminars quarterly. Seminars will enable graduates to learn updates and keep skills and knowledge current. Kiatsu is a living art; the teaching and practice continue to evolve and improve. Attending the seminars is the best way to keep up to date.
  %li Regular practice on yourself and family members, with specific attention to improving your own health through Ki breathing, Kiatsu and Ki for health and oneness rhythm exercises. Your ability to maximize your natural healing ability will increase, and your health will improve with continued training.

%h3 Third year certification
%p After 2 years of participation in the third year program, students are eligible for third year review. The review process will involve one-on-one pressing and instruction by an instructor, correcting approach and technique where necessary, and certifying that the practice of Kiatsu is up to date. The certification is valid for a two year period. It is expected that active post-graduate students will participate in third year review every two years on an ongoing basis.

%h3 Shoden Ki Testing
%p As part of the third year review, students who have not yet taken their Shoden Ki Test will be tested for Shoden.

%h3 Fees for the third year program
%p Graduate students in the third year program will pay monthly dues ($45/month) to maintain their active status in the school. The fees for attendance at the seminars and for the third year review are included in the monthly dues. The fee for shoden testing is <em>not</em> included in the monthly dues.

%h2 Application procedure

%p Complete the following:

%ol
  %li Fill out the <a href="/kiatsu/kiatsu_application.pdf" title="Download a Personal Kiatsu&reg; School application">application form</a>
  %li
    Send the application to:
    <address>OKS Kiatsu School<br />P.O. Box 2143<br />Lake Oswego, OR 97035</address>
  %li Interview with Personal Kiatsu School administrator
  %li Selection and notification

%p Student selection is made through careful consideration of information obtained from the application and interview process. Applicants will be notified of their status in a timely manner.  Applications are accepted throughout the year.  Students are encouraged to start evening classes in association with Seminars 1, 2, or 3.

%h2 Location and times

%p Classes are available in Tigard, Salem, Eugene and Corvallis, Oregon, Vancouver, British Columbia, and Laguna, California.  Contact <a href="/locations/index.html" title="See the list of dojos">the dojo nearest you</a> for schedules and introductory classes.

%h2 Fees
%p Membership: $70 Year the first year, $40 annual renewal
%p Monthly tuition: $80 per month (15% discount for students from the same family)
%p Monthly tuition (3rd year program): $45 per month (15% discount for students from the same family)

%h2 To start your training early

%p Sometimes students want to get started before the beginning of a new Kiatsu School session. If you are one of these people, you are encouraged to begin <a href="/ki/getting_started.html" title="How to start Ki training">Ki training</a>. Participation in Ki training is also encouraged for active Kiatsu students and graduates.  There is no additional charge for Personal Kiatsu School students.  Ki training is included in Kiatsu School fees.

%p It is very valuable in broadening and deepening a student's ability to relax and focus and to maintain excellent physical, mental and spiritual posture throughout each day.

.image.centerpiece
  = image_tag 'practicing_kiatsu.jpg', alt: 'In a typical Kiatsu class, students practice pressing each other. Photo by Brent Miller.', title: 'In a typical Kiatsu class, students practice pressing each other. Photo by Brent Miller.'
  %p In a typical Kiatsu class, students practice pressing each other.

- content_for :secondary_content do
  %h2 More information
  %p Find out more about <a href="index.html" title="More information about Kiatsu">Kiatsu</a>, the <a href="school.html" title="The Personal Kiatsu School">school</a>, or the <a href="/locations/kiatsu.php" title="Personal Kiatsu School location">school's location</a>.
  %p You also might have questions about <a href="/fees.html" title="OKS fees">training fees</a>.
