---
title: Kiatsu&reg; (Ki pressing)
meta_title: Kiatsu&reg; (Ki pressing)
meta_description: Kiatsu&reg; (Ki pressing) improves circulation, reduces tension and enhances health.  It can also reduce or eliminate pain, stiffness and swelling.
---

%p Ki does not flow well in a person who is ill or injured. Kiatsu&reg; mobilizes a person's natural healing processes by restoring the flow of living energy. Ki pressing improves circulation, reduces tension, and enhances health. It also helps reduce or eliminate pain, stiffness, and swelling caused by stress or minor injury.

%p The Personal Kiatsu School provides a formalized approach to learning the <a href="/ki/index.html" title="More information on Ki training">universal principles of Ki</a>. Students learn Kiatsu and Ki principles for improving health, increasing relaxation, and enhancing their daily lives. After students accomplish these goals for themselves, they can practice Kiatsu to enhance their family's health.

%h2 In Kiatsu classes you will learn:

= image_tag 'neck_kiatsu.jpg', alt: 'Kiatsu means &quot;pressing with Ki&quot;', title: 'Kiatsu means &quot;pressing with Ki&quot;'

%h3 Mind and body coordination
%ul
  %li Maintain correct posture and balance to eliminate physical stress
  %li Relax completely to release mental and physical tension
  %li Develop mental and physical calmness and stability
  %li Fully activate your living power

%h3 Ki pressing
%ul
  %li Learn the principles of Kiatsu
  %li Learn to press for tension related problems and minor physical injuries
  %li Learn Kiatsu techniques for pressing all parts of the body
  %li Practice pressing yourself and other students during each class session
  %li Self Kiatsu is taught to help you enhance and maintain your own health

%h3 Ki breathing
%ul
  %li Improve metabolism and overall health
  %li Fully draw out waste gases and richly supply fresh oxygen to the whole body
  %li Increase mental calmness and concentration
  %li Relax physically and feel spiritually connected

%h3 Ki meditation
%ul
  %li Practice dynamic exercises
  %li Improve mental focus and calmness
  %li Deepen relaxation
  %li Unify mind, body, and spirit

%h3 Ki health exercises
%ul
  %li Stretch and lengthen muscles naturally
  %li Develop your flexibility
  %li Learn to coordinate mind and body in easy stretching movements

- content_for :secondary_content do
  %h2 More information on Kiatsu
  %p Find out more about <a href="getting_started.html" title="How to start Kiatsu&reg; training">getting started</a> with Kiatsu training, <a href="school.html" title="The Personal Kiatsu School">general information about the school</a>, or <a href="/locations/kiatsu.php" title="Schedules and location">Personal Kiatsu School location and schedule</a>.
