---
title: Kiatsu&reg; (Ki pressing)
meta_title: Kiatsu&reg; (Ki pressing)
meta_description: Kiatsu&reg; (Ki pressing) improves circulation, reduces tension and enhances health.  It can also reduce or eliminate pain, stiffness and swelling.
---

%p Ki does not flow well in a person who is ill or injured. Kiatsu&reg; mobilizes a person's natural healing processes by restoring the flow of living energy. Ki pressing improves circulation, reduces tension, and enhances health. It also helps reduce or eliminate pain, stiffness, and swelling caused by stress or minor injury.

%p The Personal Kiatsu School provides a formalized approach to learning the <a href="/ki/index.html" title="More information on Ki training">universal principles of Ki</a>. Students learn Kiatsu and Ki principles for improving health, increasing relaxation, and enhancing their daily lives. After students accomplish these goals for themselves, they can practice Kiatsu to enhance their family's health.

%h2 What is Kiatsu training?

= image_tag 'neck_kiatsu.jpg', alt: 'Kiatsu means &quot;pressing with Ki&quot;', title: 'Kiatsu means &quot;pressing with Ki&quot;'

%p Kiatsu training is a dynamic approach to using the power of the human mind, body and spirit, by learning and practicing  relaxation and concentration and posture both in our daily lives and as we touch to stimulate natural healing.

%p Students learn specific tools to improve and maintain their health and well-being.  These include:

%ul
  %li
    %p <strong>#{link_to 'The Four Basic Principles of Mind and Body Coordination', '/ki/what_is_ki.html'}:</strong> fundamental techniques to get mind and body working together in a positive integrated way.

  %li
    %p <strong>Ki meditations:</strong> easy to learn and proven to strengthen your mental and physical abilities.

  %li
    %p <strong>Ki breathing method:</strong> use this incredible tool to replenish energy when ill, fatigued or stressed.  Both a deep breathing method and a meditation simultaneously. Stimulates the immune system and lowers blood pressure among other health benefits.

  %li
    %p <strong>Kiatsu:</strong> pressing with a strong flow of energy to help the body relax and stimulate natural healing.

  %li
    %p <strong>Ki health exercises:</strong> relaxation and natural stretching in movement, and instruction in moving with grace and natural rhythm

- content_for :secondary_content do
  %h2 More information on Kiatsu
  %p Find out more about <a href="getting_started.html" title="How to start Kiatsu&reg; training">getting started</a> with Kiatsu training, <a href="school.html" title="The Personal Kiatsu School">general information about the school</a>, or <a href="/locations/kiatsu.php" title="Schedules and location">Personal Kiatsu School location and schedule</a>.
