---
title: Getting started with Aikido training
meta_title: Getting started with Aikido training
meta_description: The steps required to start Aikido training are simple. Notify the instructor you would like your first class, and come to your free introductory lesson wearing loose clothing.
---

= image_tag 'aikido_jonage.jpg', alt: 'Shirley McCartney sensei, performing a throw with a staff. Photo by Brent Miller.', title: 'Shirley McCartney sensei, performing a throw with a staff. Photo by Brent Miller.'

%h2 Free introductory lesson

%p You can begin your Aikido training right away. You don't need to wait for a special starting date. Come to the dojo nearest you for a free introductory lesson and begin your training.

%p At the Oregon Ki Society, Aikido is based on a solid understanding of <a href="/ki/what_is_ki.html" title="Learn more about Ki and Ki Principles">Ki Principles</a>. Thus, all Aikido students must also train in the Ki classes to fully develop an understanding of Ki.

%h2 Who should train?
%ul
  %li Ki classes are for anyone ages 12 and older (Younger students can train in the Children's Program )
  %li A Program for Young Adults, 13 through 18 years has been recently added, to bridge the gap between the Children's Program and the Adult Program.
  %li If you have any physical limitations or injuries consult your doctor before beginning Aikido training

%h2 Here's what to do
%ul
  %li Check the location page for dojo locations and class times
  %li Give the dojo a call to let them know you are coming (drop-ins are also welcome)
  %li Dress in loose comfortable clothes like a tee-shirt and sweat pants
  %li
    Come to the dojo 10 to 15 minutes before starting time
    %ul
      %li This gives you the opportunity to meet and talk to the instructors before class begins
      %li Let the instructor know if you have any physical limitations
      %li Sign a <a href="/membership_application.pdf" title="Membership application and release form">release form</a>
  %li Enjoy your lesson

%h2 Here's what to expect
%ul
  %li The first hour will introduce you to the Four Basic Principles of Mind and Body Coordination
  %li The second hour introduces you to the Five Principles of Aikido and to the basic movements of an art or two.
  %li The lesson is typically taught separately from the main class (many times one-on-one or in a small group)
  %li Expect the lesson to last two hours

%h2 Signing up
%ul
  %li After your free introductory lesson decide if this training is for you then sign up
  %li <a href="/fees.html" title="Find out how much dues are">Dues</a> are paid month to month (no long term contracts)
  %li There is an initiation fee paid to Ki Society HQ
  %li Begin attending lessons

- content_for :secondary_content do
  %h2 Related information
  %p Find out more about <a href="index.html" title="General information on Aikido training">Aikido with mind and body coordination (Shin Shin Toitsu Aikido)</a>.
