---
title: Aikido with mind and body coordinated &mdash; Shin Shin Toitsu Aikido
meta_title: Aikido with mind and body coordinated &mdash; Shin Shin Toitsu Aikido
meta_description: The Oregon Ki Society teaches Shin Shin Toitsu Aikido (Aikido with mind and body coordinated) in a traditional dojo setting. The individual dojos are led by instructors with 10 to 25 years of teaching experience.
---

= image_tag 'aikido_koteoroshi.jpg', alt: 'Stillness and motion. Photo by Brent Miller.', title: 'Stillness and motion. Photo by Brent Miller.'

%p Aikido literally means the way to harmony with Ki. Students study Shin Shin Toitsu Aikido to learn to coordinate mind and body, to work with others positively, and realize their full potentials. Aikidoists use Ki to powerfully lead their opponents, moving together, rather than colliding or fighting with them. The principles of Aikido apply directly to dealing productively with people in daily life. Students learn <a href="/ki/index.html" title="More information about Ki training">the process of applying Ki</a> to the martial art utilizing the principles of non-dissension and the five principles of Shin Shin Toitsu Aikido.

%p The Oregon Ki Society teaches Ki Aikido in <a href="/locations/index.html" title="Find the dojo nearest to you">traditional dojo settings</a>. The programs are led by <a href="/instructors.html" title="Meet the OKS instructors">highly skilled instructors</a> with 10 to 40 years teaching experience. Instructors travel yearly to Japan to ensure that latest teaching from Tohei Sensei is available to students.

%h2 Five Basic Principles of Shin Shin Toitsu Aikido

%ol
  %li
    %h3 Extend Ki
    %p Before leading others you must first learn to control yourself by coordinating mind and body.
  %li
    %h3 Know your opponent's mind
    %p Understand your opponent's intention.
  %li
    %h3 Respect your opponent's Ki
    %p Do not fight with your opponent.
  %li
    %h3 Put yourself in the place of your opponent
    %p Align with your opponent first then you can lead them effectively.
  %li
    %h3 Perform with confidence
    %p Continue to conclusion without doubt or hesitation, full of plus Ki.

.image
  = image_tag 'aikido_pin.jpg', alt: 'John Young sensei, performing a pin', title: 'John Young sensei, performing a pin'
  %p John Young sensei, performing a pin

- content_for :secondary_content do
  %h2 Related information
  %p Find out how to <a href="getting_started.html" title="How to start your Aikido training">get started with Aikido training</a> or <a href="/locations/index.html" title="dojo locations">where you can train</a>.
