---
title: Northwest Ki Federation Fall Camp, November 2007
meta_title: Northwest Ki Federation Fall Camp, November 2007
meta_description: Photos from the Northwest Ki Federation Fall Camp, November 2007
---

= gallery(:fall_camp_2007)

- content_for :secondary_content do
  %h2 About our programs
  %p The Oregon Ki Society has programs in <a href="/ki/index.html" title="Mind and body coordination">Ki training</a>, <a href="/aikido/index.html" title="Aikido with mind and body coordinated">Aikido</a> and <a href="/kiatsu/index.html" title="Pressing with Ki, for personal health and healing">Kiatsu</a>.  We also have a <a href="/kids/index.html" title="Aikido training for kids">children's program</a> to teach Aikido to kids under the age of 15.
