%p
  All content Copyright &copy; Oregon Ki Society.  For more information,
  = link_to 'contact OKS', '/contact.php', title: 'Please send us your questions'

%p
  Kiatsu&reg;, &quot;Shin Shin Toitsu Aikido&quot; and Tohei sensei's calligraphy of Ki are registered trademarks of
  = link_to 'Ki Society HQ', 'http://www.shinshintoitsuaikido.org/english/', title: 'Ki Society HQ site'
  Banner photo and others were taken at the <a href="http://www.japanesegarden.com/" title="Official site">Portland Japanese Garden.</a> Site design by <a href="http://www.foliosus.com/" title="Visit Foliosus Web Design">Foliosus Web Design LLC</a>.  <a href="http://validator.w3.org/check/referer" title="Validate this site's XHTML">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate this site's CSS">CSS</a>
