---
title: Dojo and training etiquette
meta_title: Children's Program and dojo etiquette
meta_description: Basic guidelines about proper behavior for kids in the dojo.
---

%p Training etiquette is a basic part of our Ki and Aikido program. Etiquette teaches respect for all things, discipline, and creates a safe environment where we learn to help and care for each other. Tohei Sensei says to learn we must have the attitude of growing together. These are the basic rules to follow:

%ul.long
  %li Remove shoes upon entering the dojo.
  %li Bow upon entering and leaving the dojo and when stepping on and off the mat. Bow to each other and the sensei (instructor) during training. This demonstrates respect for all, but more importantly, demonstrates an open mind and willingness to learn.
  %li Address instructors and assistants as sensei. Greet your sensei upon arrival to class and say goodbye before leaving.
  %li Parents please accompany you child when dropping them off for class and picking them up. Safety is our biggest concern, and it also allows us to communicate important information directly to the parents.
  %li Come in clean clothes. Make sure that your hands and feet are clean. Remove all jewelry.
  %li No chewing gum please.
  %li Use the restroom and have a drink of water before class. This avoids unnecessary disruptions during class. If you must leave the mat during class, please check with a sensei first.
  %li Students need to listen carefully and observe proper training rules to avoid injury.
  %li If you are unable to attend class(es), we would appreciate being informed.
  %li We encourage parents to watch their child’s class and we welcome visitors to observe. However, we ask that if observers talk, to please keep your voices quiet so as to not distract the students. Likewise, students awaiting the next class are asked to disturb neither the class in session nor those watching.

.image.centerpiece
  = image_tag 'kids_rolling_demonstration.jpg', alt: 'Lining up for a rolling demonstration in front of Crockett sensei and Week sensei. Photo by Brent Miller.', title: 'Lining up for a rolling demonstration in front of Crockett sensei and Week sensei. Photo by Brent Miller.'
  %p Lining up for a rolling demonstration in front of Crockett sensei and Week sensei

- content_for :secondary_content do
  %h2 More information
  %p Find out more about <a href="/kids/index.html" title="Basic information">the children's program</a> or <a href="/kids/getting_started.html" title="Steps to start">how to get started</a>.
