---
title: Starting your children in Aikido classes
meta_title: Starting your children in Aikido classes
meta_description: Contact your nearest dojo before your free trial lesson to let them know you and your child are coming.
---

%h2 Free introductory lesson

%p Your kids can begin training Aikido right away. You don't need to wait for a special starting date. Classes are ongoing in <a href="/locations/index.html" title="dojo locations">all locations</a>.

%p In the Children's Program, Ki and Aikido training are combined in a noncompetitive environment to teach children to utilize their full potential. Your children will learn to direct their energy positively and help them build self-confidence and self-esteem.

.image
  = image_tag 'kids_kokyudosa.jpg', alt: 'Practicing kokyudosa with Pfund sensei. Photo by Brent Miller.', title: 'Practicing kokyudosa with Pfund sensei. Photo by Brent Miller.'
  %p Practicing kokyudosa with Pfund sensei

%h2 Who should train?

%ul
  %li Children 3 to 12 train in the program. Teens are encouraged to join the regular Aikido Program
  %li Beginning, intermediate, and advanced classes are offered
  %li The child's age and skill level determines the class that he or she will participate

%h2 Here's what to do

%ul
  %li Check the dojo locations for the school closest to you and for class times
  %li Give the dojo a call to let them know you are coming (Drop-ins are also welcome)
  %li Dress kids in loose comfortable clothes like a tee-shirt and sweat pants
  %li Bring your kids to the dojo 10 to 15 minutes before starting time
  %li This gives you the opportunity to meet and talk to the instructors before class begins
  %li Parent or guardian must sign a <a href="/membership_application.pdf" title="Membership application and release form">release/registration form</a>
  %li You are encouraged to stay and observe the lesson

%h2 Here's what to expect

%ul
  %li The class will last approximately one hour
  %li The introduction is designed to be active and fun for you child
  %li The lesson is typically conducted separately from the main class (many times one-on-one)
  %li After class you will have an opportunity to ask the instructor questions

%h2 Signing up

%ul
  %li Decide if this training is for your child then sign up
  %li Start bringing your children to classes regularly
  %li Dues are paid month to month (no long term contracts)

.image.centerpiece
  = image_tag 'kids_rolling_practice.jpg', alt: 'Rolling practice in class, supervised by McCartney sensei. Photo by Brent Miller.', title: 'Rolling practice in class, supervised by McCartney sensei. Photo by Brent Miller.'
  %p Rolling practice in class, supervised by McCartney sensei

- content_for :secondary_content do
  %h2 More information
  %p Please read the <a href="/kids/dojo_etiquette.html" title="Simple guidelines">dojo etiquette guide</a> before your first class.
  %p Find out more about <a href="/kids/index.html" title="Basic information">the children's program</a> and <a href="/fees.html" title="OKS fees">training fees</a>.
