---
title: Children's Aikido
meta_title: Children's Aikido
meta_description: The Children's Program teaches Ki and Aikido in a noncompetitive environment to teach children to use their full potential and encourage physical and mental health.
---

%h2 Program goals
%p In Children's class students learn the <a href="/ki/what_is_ki.html" title="What is Ki?">principles of mind and body coordination</a>. This helps them direct their energy more positively and effectively, and gain self-confidence. <a href="/ki/index.html" title="Information about Ki training">Ki</a> and <a href="/aikido/index.html" title="Information about Aikido">Aikido</a> training are combined in a non-competitive environment to teach children to utilize their full potential.

= image_tag 'kids_shihonage.jpg', alt: 'Performing a throw with confidence. Photo by Brent Miller.', title: 'Performing a throw with confidence. Photo by Brent Miller.'

%p This training promotes tangible benefits such as good mental and physical health. By applying the Ki principles, children improve their performance in activities such as schoolwork, sports, music, and art. More importantly, they gain the intangible benefits of having a positive attitude, respect, always doing one's best, being able to calm one's mind, concentration, and self-discipline. The art of non-dissension applies to leading and following in the dojo. It also applies directly to being able to get along with family, siblings, peers and schoolmates.

%p These benefits are the result of fundamental applications of Ki and Aikido training. Good learning skills &mdash; listening, concentrating on task, and following through to completion &mdash; are naturally developed. Children gain confidence in their abilities, and as they grow, the tools and direction of Ki training provide something for them to rely on. A disciplined, cooperative environment helps them learn to work and grow with others.

%p The support of a child's parent and/or other responsible adult is important to the child's success. This involvement helps to direct and encourage the child to use <a href="/ki/what_is_ki.html" title="What are Ki Principles?">Universal Ki Principles</a> in daily life.

%p Children age 3&ndash;17 train in the Children's Program. We offer beginning, intermediate and advanced classes. The child's age and skill level determines in which class they participate.

%h2 Parental involvement

%p We appreciate that parents/guardians make as much of a commitment to the children's program as the senseis and children. One important avenue for parental involvement is an understanding of Ki Principles. Parents can reinforce our lessons in the child's daily life, thus greatly increasing the impact of training. We encourage our parents/guardians to participate in introductory lessons for adults available at all dojos. Communicate with your child's sensei about his or her progress and difficulties on or off the mat. This provides valuable insight for the instructor to use in helping your child.

%h2 Instructor certification

%p The Oregon Ki Society has been conducting children's classes since 1974. All <a href="/instructors.html" title="Meet the OKS instructors">instructors</a> are certified by Ki Society HQ and participate in ongoing instructor training programs to maintain certification. The children's program instructors are among the most experienced of the OKS.

.image.centerpiece
  = image_tag 'kids_lined_up.jpg', alt: 'Kids lined up for class, with Andress sensei and Sloss sensei. Photo by Brent Miller.', title: 'Kids lined up for class, with Andress sensei and Sloss sensei. Photo by Brent Miller.'
  %p Kids lined up for class, with Andress sensei and Sloss sensei

- content_for :secondary_content do
  %h2 More information
  %p <a href="getting_started.html" title="Start training now">Getting started</a> with the children's program is easy.  Please read the <a href="dojo_etiquette.html" title="Basic guidelines">dojo etiquette guide</a> before your first class.
