---
title: Getting started with Ki training
meta_title: Getting started with Ki training
meta_description: Starting training in Ki development is easy. Notify the instructor that you will be coming for your free introductory lesson, and then arrive wearing loose, comfortable clothing.
---

%h2 Free introductory lesson

= image_tag 'path.jpg', alt: 'Start walking the path; discover what it will bring. Photo by Brent Miller.', title: 'Start walking the path; discover what it will bring. Photo by Brent Miller.'

%p You can come in for a free introductory lesson and start training immediately. You don't need to wait for a special starting date.

%h2 Who should train?
%ul
  %li Ki classes are for anyone ages 12 and older (Younger students can train in the <a href="/kids/index.html">Children's Program</a>)
  %li Seniors also find Ki classes enjoyable

%h2 Here's what to do
%ul
  %li Check the Location Page for dojo locations and class times
  %li Give the dojo a call to let them know you are coming (Drop-ins are also welcome)
  %li Dress in loose comfortable clothes like a tee-shirt and sweat pants
  %li Come to the dojo 10 to 15 minutes before starting time: this gives you the opportunity to meet and talk to the instructors before class begins
  %li Enjoy your lesson
  %li Ask lots of questions

%h2 Here's what to expect
%ul
  %li The introductory lesson will show you to how to coodinate your mind and body
  %li The lesson is typically taught separately from the main class (many times one-on-one or in a small group)
  %li Expect the lesson to last one hour

%h2 Signing up
%ul
  %li After your free introductory lesson decide if this training meets your goals
  %li Sign a <a href="/membership_application.pdf" title="Membership application and release form">release form</a>
  %li <a href="/fees.html" title="Find out how much dues are">Dues</a> are paid month to month (no long term contracts)
  %li There is an initiation fee paid to Ki Society HQ
  %li Begin attending lessons


- content_for :secondary_content do
  %h2 More information
  %p You can <a href="getting_started.html" title="How to start Ki training">start training</a> at any of our <a href="/locations/index.html" title="dojo locations">dojos</a>.
  %p Find out about <a href="/fees.html" title="OKS fees">training fees</a>.
