---
title: Ki development training &mdash; Shin Shin Toitsu D&#333;
meta_title: Ki development training &mdash; Shin Shin Toitsu D&#333;
meta_description: Shin Shin Toitsu D&#333; (Ki development training) helps students improve the quality of their lives, through relaxation, calmness and concentration.
---

%h2 Program goals

= image_tag 'ripples.jpg', alt: 'Still the waves of your mind to infinitely small infinitely decreasing ripples. Photo by Brent Miller.', title: 'Still the waves of your mind to infinitely small infinitely decreasing ripples. Photo by Brent Miller.'

%p The purpose of Ki development training is to help students improve the quality of their lives. By improving health and performance, Ki training helps students to be more productive and successful in their personal and professional lives. We view training as an ongoing process emphasizing personal direction and growth through lifelong training. Ki training helps students to live positively and excel in a rapidly changing world.

%p The primary focus of Ki classes is learning how to coordinate mind and body in daily life. Ki training provides skills for relaxation, calmness, concentration, personal health, and positive interactions. Students gain more energy and enhance their understanding of <a href="/ki/what_is_ki.html" title="Learn more about Ki Principles">Ki Principles</a>.

%h2 Ki development skills

%h3 Ki exercises

%p It is easier to coordinate mind and body when we are sitting or standing still than when in motion. Ki exercises teach us how to maintain the coordination of mind and body in movement.

%h3 Ki breathing

%p We utilize the Four Basic Principles in practicing Ki Breathing Methods, sending fresh oxygen to our whole body. The benefits of Ki Breathing are mental and physical relaxation, release of stress, and improving health. We can charge ourselves with the Ki of the Universe.

%h3 Ki meditation

%p A dynamic meditation utilizing Ki Principles that improves concentration, reduces stress and develops a calm mind, enabling one to be more positive and effective in one's daily life.

%h3 <a href="/kiatsu/index.html" title="Learn more about Kiatsu&reg;">Kiatsu&reg;: Ki pressing</a>

%p By restoring the flow of living energy, Kiatsu&reg; mobilizes the body's natural healing processes. Kiatsu improves circulation, reduces tension, and enhances one's health.

- content_for :secondary_content do
  %h2 More information
  %p <a href="what_is_ki.html" title="Find out more about Ki">What is Ki?</a> If you already know, find out more about <a href="getting_started.html" title="Getting started with Ki training">starting Ki training</a>.
