---
title: What is Ki?
meta_title: What is Ki?
meta_description: Ki is living power. By studying Ki development and following Ki Principles, we can improve the quality of our daily lives.
---

%h2 Ki is living power.

= image_tag 'iceberg.jpg', alt: 'Our greatest potential lies hidden.  Photo by Ladydeneb.', title: 'Our greatest potential lies hidden.  Photo by Ladydeneb.'

%p The power we often think we have, our usual ability, is like the small visible segment of an iceberg, which floats above the surface of the water. We think this is all there is. But hidden beneath the surface of the water is a much larger part of the iceberg. This greater portion is like the power of our Ki. Only by using the whole iceberg do we activate our full potential.

%p The common purpose of Ki development, <a href="/kiatsu/index.html" title="Learn more about Kiatsu&reg;">Kiatsu&reg;</a>, and <a href="/aikido/index.html" title="Learn more about Aikido with mind and body coordination">Shin Shin Toitsu Aikido</a> is to learn how to coordinate mind and body and to apply Ki Principles to improve the quality of our daily life.

%h2 Four Basic Principles of Mind and Body Coordination

%ol
  %li
    %h3 Keep One Point
    %p This is a natural place of physical, mental and spiritual balance. By concentrating on our one point and keeping correct posture we naturally coordinate mind and body.
  %li
    %h3 Relax Completely
    %p When mind actively calms, body naturally releases all stress and tension. In keeping one point, mind and body relax completely.
  %li
    %h3 Keep Weight Underside
    %p The weight of all objects naturally settles at the lowest place. When we relax completely, our weight also naturally settles underside. We call it living calmness.
  %li
    %h3 Extend Ki
    %p Extending Ki is to utilize our living power to the fullest extent. By focusing our mind and body, we can have a healthy and vigorous life.

- content_for :secondary_content do
  %h2 More information
  %p Find out how to <a href="getting_started.html" title="Getting started with Ki training">get started</a>, and <a href="/locations/index.html" title="dojo locations">where you can train</a>.
