---
title: Photo galleries
meta_title: Photo galleries
meta_description: Photos from recent Oregon Ki Society events
---

.gallery
  .gallery_row
    .first
      <a href="/photos/fortieth_anniversary_dinner_2014/index.html" title="40th anniversary banquet and instructuors' workshop"><img src="/images/galleries/thumbnails/fortieth_anniversary_dinner_1.jpg" alt="Balloon Ki symbol" width="160" height="106" /></a>
      <p>40th anniversary banquet and instructuors' workshop</p>
    %div
      <a href="/photos/corvallis_grand_opening_2009/index.html" title="Corvallis Dojo Grand Opening, June 2009"><img src="/images/galleries/thumbnails/corvallis_grand_opening_1.jpg" alt="Beautiful grand opening weather" width="160" height="106" /></a>
      <p>Corvallis Dojo Grand Opening, June 2009</p>
    %div
      <a href="/photos/fall_camp_2008/index.html" title="Northwest Ki Federation Fall Camp, November 2008"><img src="/images/galleries/thumbnails/fall_camp_2008_6.jpg" alt="Tabata sensei demonstrates ushirokatadori kokyunage" width="160" height="106" /></a>
      <p>Northwest Ki Federation Fall Camp, November 2008</p>

  .galley_row
    .first
      <a href="/photos/uk_2008/index.html" title="Tabata sensei visits the U.K., August 2008"><img src="/images/galleries/thumbnails/loughborough_21.jpg" alt="Katatetori kokyunage" width="160" height="106" /></a>
      <p>Tabata sensei visits the U.K., August 2008</p>
    %div
      <a href="/photos/corvallis_construction_2008/index.html" title="Construction of the new Corvallis dojo"><img src="/images/galleries/thumbnails/corvallis_construction_1.jpg" alt="Rendering of dojo" width="160" height="106" /></a>
      <p>Corvallis dojo construction, Fall 2008</p>
    %div
      <a href="/photos/spring_camp_2008/index.html" title="Annual Spring Camp, April 2008"><img src="/images/galleries/thumbnails/spring_camp_2008_1.jpg" alt="Participating group" width="160" height="106" /></a>
      <p>Spring Camp, April 2008</p>

  .gallery_row
    .first
      <a href="/photos/shinsakai_2008/index.html" title="Annual Shinsakai tournament, March 2008"><img src="/images/galleries/thumbnails/shinsakai_2008_1.jpg" alt="Lined up for the opening ceremony" width="160" height="106" /></a>
      <p>Shinsakai, March 2008</p>
    %div
      <a href="/photos/corvallis_groundbreaking_2007/index.html" title="Corvallis Dojo Groundbreaking, December 2007"><img src="/images/galleries/thumbnails/corvallis_groundbreaking_7.jpg" alt="Breaking ground" width="160" height="106" /></a>
      <p>Corvallis dojo groundbreaking, December 2007</p>
    %div
      <a href="/photos/fall_camp_2007/index.html" title="Northwest Ki Federation Fall Camp, November 2007"><img src="/images/galleries/thumbnails/fall_camp_2007_4.jpg" alt="Tabata sensei demonstrates koteoroshi with a jo" width="160" height="106" /></a>
      <p>Northwest Ki Federation Fall Camp, November 2007</p>

  .gallery_row
    .first
      <a href="/photos/uk_2007/index.html" title="Tabata sensei visits the U.K., July 2007"><img src="/images/galleries/thumbnails/southampton_4.jpg" alt="Tabata sensei demonstrates ryotetori kokyunage" width="160" height="106" /></a>
      <p>Tabata sensei visits the U.K., July 2007</p>

- content_for :secondary_content do
  %h2 More information
  %p <a href="/ki/what_is_ki.html" title="Find out more about Ki">What is Ki?</a> If you already know, find out more about <a href="/ki/getting_started.html" title="Getting started with Ki training">starting Ki training</a>.