---
title: Dojo locations
meta_title: Dojo locations
meta_description: The Oregon Ki Society and the Northwest Ki Federation operate dojos across Oregon as well as in Southern California, Hawaii, Canada, and the United Kingdom.
---

= image_tag 'portland_sky.jpg', alt: 'Portland sky. Photo by Brent Miller.', title: 'Portland sky. Photo by Brent Miller.'

%h2 Oregon Ki Society
%p The OKS operates the following dojos:
%ul
  %li <a href="tigard.php" title="OKS headquarters in SW Portland">Headquarters: Tigard</a>
  %li <a href="se_portland.php" title="Ki Aikido dojo in SE Portland">SE Portland</a>
  %li <a href="salem.php" title="Ki Aikido dojo in Salem">Salem</a>
  %li <a href="corvallis.php" title="Ki Aikido dojo in Corvallis">Corvallis</a>
  %li <a href="eugene.php" title="Ki Aikido dojo in Eugene">Eugene</a>
  %li <a href="bend.php" title="Ki Aikido dojo in Bend">Bend</a>

%p The OKS also operates several satellite dojos:
%ul
  %li <a href="hillsboro.php" title="Ki Aikido dojo in Hillsboro">Hillsboro</a>
  %li <a href="reed_college.php" title="Ki Aikido dojo at Reed College in SE Portland">Reed College, Portland</a>

%p The Personal Kiatsu&reg; School is also run by the OKS:
%ul
  %li <a href="kiatsu.php" title="Kiatsu&reg; dojo in Tigard, SW Portland">Personal Kiatsu School, Tigard</a>

%h2 Northwest Ki Federation
%p The following are member dojos of the Northwest Ki Federation:
%ul
  %li <a href="http://orangecountyki.org/" title="Ki Aikido dojo in Laguna Niguel, California">Orange County Ki Society, California</a>
  %li <a href="http://www.vks.ca/" title="Ki Aikido dojo in Vancouver, British Columbia">Vancouver Ki Society, Canada</a>
  %li <a href="http://www.calgarykisociety.com/" title="Ki Aikido dojo in Calgary, Alberta">Calgary Ki Society, Canada</a>
  %li <a href="http://www.ki-aikido.cz/" title="Ki Aikido dojo in Prague, Czechoslovakia">Prague Ki Society, Czechoslovakia</a>
  %li <a href="http://www.honoluluki.org/" title="Ki Aikido dojo in Honolulu, Hawaii">Honolulu Ki Society, Hawaii</a>
  %li
    <a href="http://www.kisociety.org.uk/" title="Ki Aikido dojos in Brighton, Loughborough, Bangor, Southampton and Romsey">UK Ki Federation, United Kingdom</a>, which includes the following dojos:
    %ul
      %li <a href="http://brightonkisociety.org.uk/" title="Ki Aikido dojo in Brighton">Brighton Ki Society, East Sussex</a>
      %li <a href="http://shinshintoitsuaikido.org.uk/loughborough-ki-society/" title="Ki Aikido dojo in Loughborough">Loughborough Ki Society, Leicestershire</a>
      %li <a href="http://shinshintoitsuaikido.org.uk/menai-ki-society-bangor-dojo/" title="Ki Aikido dojos in Bangor">Menai Ki Society, Bangor, Wales</a>
      %li <a href="http://shinshintoitsuaikido.org.uk/southampton-ki-society/" title="Ki Aikido dojo in Southampton">Southampton Ki Society, Hampshire</a>


- content_for :secondary_content do
  %h2 What do the dojos offer?
  %p All of our dojos offer <a href="/ki/index.html" title="Ki development information">Ki training</a> as well as training in <a href="/aikido/index.html" title="Shin Shin Toitsu Aikido information">Aikido with mind and body coordinated</a>.  Many have <a href="/kids/index.html" title="Children's Aikido program">children's classes</a>, and some also offer <a href="/kiatsu/index.html" title="Pressing with Ki">Kiatsu&reg; training</a>.
