---
title: Oregon Ki Society
meta_title: About the Oregon Ki Society
meta_description: Basic information about the Oregon Ki Society, a nonprofit organization established to spread Ki principles, Kiatsu&reg; and Aikido.
---

%p The Oregon Ki Society (OKS) is a nonprofit educational service organization established in 1974 to spread <a href="/ki/index.html" title="Find out about more about Ki">Ki principles</a>, <a href="/kiatsu/index.html" title="Find out more about Kiatsu&reg;">Kiatsu&reg;</a>, and <a href="/aikido/index.html" title="Find out more about Aikido with mind and body coordinated">Shin Shin Toitsu Aikido</a> as taught by Master Koichi Tohei. The OKS provides a traditional Japanese dojo training environment for students of all ages and abilities. The programs are led by <a href="instructors.html" title="Meet our instructors">highly skilled instructors</a> with 10 to 40 years teaching experience. All OKS instructors are certified by Ki Society HQ in Japan and receive ongoing instruction to stay current and maintain certification.

= image_tag 'pond_bridge.jpg', alt: 'Traditional garden landscape. Photo by Brent Miller.', title: 'Traditional garden landscape. Photo by Brent Miller.'

- content_for :secondary_content do
  %h2 About our programs
  %p The Oregon Ki Society has programs in <a href="/ki/index.html" title="Mind and body coordination">Ki training</a>, <a href="/aikido/index.html" title="Aikido with mind and body coordinated">Aikido</a> and <a href="/kiatsu/index.html" title="Pressing with Ki, for personal health and healing">Kiatsu</a>.  We also have a <a href="/kids/index.html" title="Aikido training for kids">children's program</a> to teach Aikido to kids under the age of 15.
