---
title: Books about Ki and Aikido
meta_title: Books about Ki and Aikido
meta_description: Koichi Tohei sensei has written many books on Ki, Kiatsu&reg; and Aikido.
---

= image_tag 'bowl_lantern.jpg', alt: 'Bowl. Photo by Brent Miller.', title: 'Bowl. Photo by Brent Miller.'

%p Koichi Tohei sensei has written several books that have been translated into English. The following titles are available to students training in the Ki Society:

%ul
  %li <span class="title">Kiatsu</span>. Basic description and explanation of Kiatsu&reg;.
  %li <span class="title">Ki in Daily Life</span>. The Ki Society's most comprehensive overview of training.
  %li <span class="title">Book of Ki: Co-Ordinating Mind and Body in Daily Life</span>. Articles describing Ki applications.
  %li <span class="title">Ki Sayings</span>. Fundamental concepts for training and application to daily life.

%p Master Koichi Tohei's newest book in English, <span class="title">Ki No Kokyuho</span> (Ki Breathing) is being released in weekly installments <a href="http://www.shinichitohei.com/english/specialki_breathing/index.html" title="Read Ki Breathing online">available online</a>.

- content_for :secondary_content do
  %h2 Related information
  %p Find out more about <a href="koichi_tohei_sensei.html" title="Koichi Tohei sensei">Tohei sensei</a>.