<?xml version="1.0" encoding="UTF-8"?>
<events>
  <event>
    <title><![CDATA[Classes resume]]></title>
    <description><![CDATA[With the new year comes new training.]]></description>
    <start_date>1/3/15</start_date>
  </event>
  <event>
    <title><![CDATA[Misogi]]></title>
    <description><![CDATA[Our annual opportunity to ring in the new year.  Open to all current students. Annual new year's party to follow at 11:00.]]></description>
    <start_date>1/4/15</start_date>
    <start_time>arrive by 8:30 am, misogi starts at 9:00 am</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Kiatsu class with Tabata Sensei]]></title>
    <description>Advanced Kiatsu training with Tabata Sensei for active Kiatsu School participants.</description>
    <start_date>1/7/15</start_date>
    <start_time>7:15 to 9:15 pm</start_time>
    <location>Kiatsu</location>
  </event>
  <event>
    <title><![CDATA[Martin Luther King Jr. Day]]></title>
    <description><![CDATA[No classes due to holiday]]></description>
    <start_date>1/19/15</start_date>
  </event>
  <event>
    <title><![CDATA[Memorial service for Jake Nice Sensei]]></title>
    <description>We invite all students to join us in paying our respects to Jake Nice Sensei who recently passed away. The memorial service will be followed by a reception</description>
    <start_date>1/25/15</start_date>
    <start_time>time TBD</start_time>
    <location>Corvallis</location>
  </event>
  <event>
    <title><![CDATA[Kiatsu seminar #3]]></title>
    <description><![CDATA[Seminar #3 is open to all current Kiatsu students and graduates.  Advanced Ki-Aikido students and instructors (brown and black belts) are invited to attend the Saturday session.]]></description>
    <start_date>2/7/15</start_date>
    <duration>2</duration>
    <start_time>starts at 9:00 am both days</start_time>
    <location>Kiatsu</location>
    <dojo>Kiatsu</dojo>
  </event>
  <event>
    <title><![CDATA[Kiatsu class with Tabata Sensei]]></title>
    <description>Advanced Kiatsu training with Tabata Sensei for active Kiatsu School participants.</description>
    <start_date>2/11/15</start_date>
    <start_time>7:15 to 9:15 pm</start_time>
    <location>Kiatsu</location>
  </event>
  <event>
    <title><![CDATA[President's day weekend]]></title>
    <description><![CDATA[No classes over on holiday Sunday or Monday.]]></description>
    <start_date>2/15/15</start_date>
    <duration>2</duration>
  </event>
  <event>
    <title><![CDATA[Kiatsu class with Tabata Sensei]]></title>
    <description>Advanced Kiatsu training with Tabata Sensei for active Kiatsu School participants.</description>
    <start_date>2/18/15</start_date>
    <start_time>7:15 to 9:15 pm</start_time>
    <location>Kiatsu</location>
  </event>
  <event>
    <title><![CDATA[Instructors' workshop #1]]></title>
    <description><![CDATA[The workshop will focus on teaching skills for aikido instructors currently teaching a class, with feedback from Tabata sensei.  Details TBA.]]></description>
    <start_date>3/1/15</start_date>
    <start_time>9:00 am - 4:00 pm</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Kiatsu class with Tabata Sensei]]></title>
    <description>Advanced Kiatsu training with Tabata Sensei for active Kiatsu School participants.</description>
    <start_date>3/4/15</start_date>
    <start_time>7:15 to 9:15 pm</start_time>
    <location>Kiatsu</location>
  </event>
  <event>
    <title><![CDATA[Instructor's class with Tabata Sensei]]></title>
    <description>Advanced training with Tabata Sensei for all instructors, including an hour of Kiatsu practice.</description>
    <start_date>3/8/15</start_date>
    <start_time>10 am to 2 pm, with Kiatsu between 11 and noon</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Taigi Shinsakai]]></title>
    <description><![CDATA[The children's competition will be in the morning, with the adults in the afternoon.  Viewing is open to the public.]]></description>
    <start_date>3/14/15</start_date>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[No class]]></title>
    <description><![CDATA[Because of the Shinsakai, there will be no morning Ki class.]]></description>
    <start_date>3/15/15</start_date>
    <location>Tigard</location>
    <dojo>Tigard</dojo>
  </event>
  <event>
    <title><![CDATA[Kiatsu class with Tabata Sensei]]></title>
    <description>Advanced Kiatsu training with Tabata Sensei for active Kiatsu School participants.</description>
    <start_date>3/18/15</start_date>
    <start_time>7:15 to 9:15 pm</start_time>
    <location>Kiatsu</location>
  </event>
  <event>
    <title><![CDATA[Instructor's class with Tabata Sensei]]></title>
    <description>Advanced training with Tabata Sensei for all instructors, including an hour of Kiatsu practice.</description>
    <start_date>3/22/15</start_date>
    <start_time>10 am to 2 pm, with Kiatsu between 11 and noon</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Kiatsu class with Tabata Sensei]]></title>
    <description>Advanced Kiatsu training with Tabata Sensei for active Kiatsu School participants.</description>
    <start_date>3/25/15</start_date>
    <start_time>7:15 to 9:15 pm</start_time>
    <location>Kiatsu</location>
  </event>
  <event>
    <title><![CDATA[Randori class]]></title>
    <description><![CDATA[The usual advanced aikido class will cover randori.  All students brown belt and up are encouraged to attend.]]></description>
    <start_date>3/29/15</start_date>
    <start_time>9:30</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Easter]]></title>
    <description><![CDATA[No classes because of the holiday.]]></description>
    <start_date>4/5/15</start_date>
  </event>
  <event>
    <title><![CDATA[Spring camp]]></title>
    <description><![CDATA[One of two annual opportunities to train Aikido intensively, Spring camp is open to all current students.]]></description>
    <start_date>4/11/15</start_date>
    <duration>2</duration>
    <start_time>9:00 am on Saturday, 7:30 am on Sunday</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[No class]]></title>
    <description><![CDATA[Because of Spring camp, there will be no morning Ki class.]]></description>
    <start_date>4/19/15</start_date>
    <location>Tigard</location>
    <dojo>Tigard</dojo>
  </event>
  <event>
    <title><![CDATA[Board test]]></title>
    <description><![CDATA[Testing for brown and black belts]]></description>
    <start_date>4/26/15</start_date>
    <start_time>following morning Ki class at noon</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Mother's day]]></title>
    <description><![CDATA[No classes because of the holiday.]]></description>
    <start_date>5/10/15</start_date>
  </event>
  <event>
    <title><![CDATA[Kiatsu seminar #4]]></title>
    <description><![CDATA[Seminar #4 is open to all current Kiatsu students and graduates.  Advanced Ki-Aikido students and instructors (brown and black belts) are invited to attend the Saturday session.]]></description>
    <start_date>5/16/15</start_date>
    <duration>2</duration>
    <start_time>starts at 9:00 am both days</start_time>
    <location>Kiatsu</location>
    <dojo>Kiatsu</dojo>
  </event>
  <event>
    <title><![CDATA[Memorial day weekend]]></title>
    <description><![CDATA[No classes on Sunday or Monday because of the holiday.]]></description>
    <start_date>5/24/15</start_date>
    <duration>2</duration>
  </event>
  <event>
    <title><![CDATA[Instructors' workshop #2]]></title>
    <description><![CDATA[The workshop will focus on teaching skills for aikido instructors currently teaching a class, with feedback from Tabata sensei.  Details TBA.]]></description>
    <start_date>5/31/15</start_date>
    <start_time>9:00 am - 4:00 pm</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Kids' camp]]></title>
    <description><![CDATA[The annual kids' camp is this weekend, featuring lots of training and activities for members of the children's program.]]></description>
    <start_date>6/12/15</start_date>
    <duration>3</duration>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Regional Ki Seminar]]></title>
    <description>The North American Ki Seminar is being held at Furman University in Greenville, South Carolina this year. The seminar is open to all, but students brown belt and up are encouraged to attend.</description>
    <start_date>6/18/15</start_date>
    <duration>4</duration>
  </event>
  <event>
    <title><![CDATA[No classes]]></title>
    <description><![CDATA[Because of kids' camp, there will be no morning Ki class.]]></description>
    <start_date>6/21/15</start_date>
    <location>Tigard</location>
    <dojo>Tigard</dojo>
  </event>
  <event>
    <title><![CDATA[Fourth of July weekend]]></title>
    <description><![CDATA[No classes because of the holiday.]]></description>
    <start_date>7/4/15</start_date>
    <duration>2</duration>
  </event>
  <event>
    <title><![CDATA[Instructors' workshop #3]]></title>
    <description><![CDATA[Instructors from Japan and the U.K will be joining us for a workshop focused on teaching skills for aikido instructors, with feedback from Tabata sensei.  Details TBA.]]></description>
    <start_date>7/17/15</start_date>
    <duration>4</duration>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Labor day weekend]]></title>
    <description><![CDATA[No classes because of the holiday.]]></description>
    <start_date>9/6/15</start_date>
    <duration>2</duration>
  </event>
  <event>
    <title><![CDATA[Randori class]]></title>
    <description><![CDATA[The usual advanced aikido class will cover randori.  All students brown belt and up are encouraged to attend.]]></description>
    <start_date>9/20/15</start_date>
    <start_time>9:30</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Kiatsu seminar #5]]></title>
    <description><![CDATA[Seminar #5 is open to all current Kiatsu students and graduates.  Advanced Ki-Aikido students and instructors (brown and black belts) are invited to attend the Sunday session.]]></description>
    <start_date>9/19/15</start_date>
    <duration>2</duration>
    <start_time>starts at 9:00 am both days</start_time>
    <location>Kiatsu</location>
    <dojo>Kiatsu</dojo>
  </event>
  <event>
    <title><![CDATA[Board test]]></title>
    <description><![CDATA[Testing for brown and black belts]]></description>
    <start_date>10/11/15</start_date>
    <start_time>following morning Ki class at noon</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Japan National Instructor Camp]]></title>
    <description>Instructors are invited to Ki Society Headquarters in Japan for this intensive camp.</description>
    <start_date>10/21/15</start_date>
    <duration>5</duration>
  </event>
  <event>
    <title><![CDATA[Instructors' workshop #4]]></title>
    <description><![CDATA[The workshop will focus on teaching skills for aikido instructors currently teaching a class, with feedback from Tabata sensei.  Details TBA.]]></description>
    <start_date>10/25/15</start_date>
    <start_time>9:00 am - 4:30 pm</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Kiatsu seminar #1]]></title>
    <description><![CDATA[Seminar #1 is open to all current Kiatsu students and graduates.  Advanced Ki-Aikido students and instructors (brown and black belts) are invited to attend the Sunday session.]]></description>
    <start_date>11/7/15</start_date>
    <duration>2</duration>
    <start_time>starts at 9:00 am both days</start_time>
    <location>Kiatsu</location>
    <dojo>Kiatsu</dojo>
  </event>
  <event>
    <title><![CDATA[Fall camp]]></title>
    <description><![CDATA[One of two annual opportunities to train Aikido intensively, Fall camp is open to all current students.]]></description>
    <start_date>11/21/15</start_date>
    <start_time>9:00 am on Saturday, 7:30 am on Sunday</start_time>
    <duration>2</duration>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Thanksgiving]]></title>
    <description><![CDATA[No classes over the holiday weekend.]]></description>
    <start_date>11/26/15</start_date>
    <duration>2</duration>
  </event>
  <event>
    <title><![CDATA[Thanksgiving weekend]]></title>
    <description><![CDATA[No classes on Thanksgiving Sunday.]]></description>
    <start_date>11/29/15</start_date>
  </event>
  <event>
    <title><![CDATA[Management conference]]></title>
    <description><![CDATA[All instructors are invited to attend the annual management conference.]]></description>
    <start_date>12/6/15</start_date>
    <start_time>9:00 am</start_time>
    <location>Tigard</location>
  </event>
  <event>
    <title><![CDATA[Last day of classes]]></title>
    <description><![CDATA[No classes will be held over the holiday break.]]></description>
    <start_date>12/20/15</start_date>
    <start_time>until the new year</start_time>
  </event>
  <event>
    <title><![CDATA[Classes resume]]></title>
    <description><![CDATA[With the new year comes new training.]]></description>
    <start_date>1/2/16</start_date>
  </event>
  <event>
    <title><![CDATA[Misogi]]></title>
    <description><![CDATA[Our annual opportunity to ring in the new year.  Open to all current students. Annual new year's party to follow at 11:30.]]></description>
    <start_date>1/3/16</start_date>
    <start_time>arrive by 8:30 am, misogi starts at 9:00 am</start_time>
    <location>Tigard</location>
  </event>
</events>
