---
title: Training fees
meta_title: Training fees
meta_description: The costs for training Ki, Aikido and Kiatsu&reg; with the Oregon Ki Society.
---

= image_tag 'hosta_shoots.jpg', alt: 'Young hosta shoots. Photo by Brent Miller.', title: 'Young hosta shoots. Photo by Brent Miller.'

%h2 Ki &amp; Ki-Aikido monthly dues
%ul
  %li Adults: $65 ($45 for Ki training only)
  %li College students: $50 ($40 for Ki training only)
  %li Personal Kiatsu&reg; School students: $15
  %li Teens (13-18) and children (12 and under): $45 ($25 for each additional sibling)


%h2 Personal Kiatsu&reg; School monthly dues
%ul
  %li Adults only: $80 (15% discount for 2 or more adults from same immediate family)

%h2 Other fees
%p There is a one-time initiation fee of $80 for all students age 13 and up, and yearly membership renewals are $43.

%h2 Family discount
%p There is a family discount of 20% on dues and camps, with a monthly maximum of $130 per family.

- content_for :secondary_content do
  %h2 About our programs
  %p The Oregon Ki Society has programs in <a href="/ki/index.html" title="Mind and body coordination">Ki training</a>, <a href="/aikido/index.html" title="Aikido with mind and body coordinated">Aikido</a> and <a href="/kiatsu/index.html" title="Pressing with Ki, for personal health and healing">Kiatsu</a>.  We also have a <a href="/kids/index.html" title="Aikido training for kids">children's program</a> to teach Aikido to kids under the age of 15.
