---
title: Getting started with the OKS
meta_title: Getting started with the OKS
meta_description: Start your training in Ki development, Aikido or Kiatsu&reg; with the Oregon Ki Society.
---

%h2 Free introductory lesson

= image_tag 'guardian_lion.jpg', alt: 'Guardian lion. Photo by Brent Miller.', title: 'Guardian lion. Photo by Brent Miller.'

%p It's easy to get started in one of the Oregon Ki Society's programs. You can come in for a free introductory lesson at any Oregon Ki Society location.

%h2 Here's what to do
%ul
  %li Check the <a href="/locations/index.html" title="See all of the OKS dojos">location page</a> for dojo locations and class times.
  %li Feel free to drop in, <strong>visitors are welcome!</strong> Give the dojo a call to let them know what class you will be visiting. No need to wait for a call back before you come in.
  %li Dress in loose comfortable clothes like a tee-shirt and sweat pants.
  %li Come to the dojo 10 to 15 minutes before starting time. This gives you the opportunity to meet, ask questions, sign a <a href="/membership_application.pdf" title="Membership application and release form">release form</a>, and talk with the instructor(s) before class begins.


%h2 More getting started information

%p Find out how to get started in:
%ul
  %li <a href="/ki/getting_started.html" title="Get started in Ki development">Ki development</a>
  %li <a href="/aikido/getting_started.html" title="Get started in Aikido training">Aikido</a>
  %li <a href="/kids/getting_started.html" title="Get started in the Children's Aikido program">Children's Aikido</a>
  %li <a href="/kiatsu/getting_started.html" title="Get started in Kiatsu&reg;">Kiatsu&reg;</a>


- content_for :secondary_content do
  %h2 More information
  %p Find out more about <a href="/aikido/index.html" title="Aikido with mind and body coordinated">Shin Shin Toitsu Aikido</a>, <a href="/ki/index.html" title="Ki development">Ki training</a> or <a href="/kiatsu/index.html" title="Personal Kiatsu&reg;">Kiatsu&reg;</a>.
  %p We also frequently receive questions about our <a href="/fees.html" title="OKS fees">fee structure</a>.