---
title: Instructors
meta_title: Instructors
meta_description: The three Oregon Ki Society head instructors have been training Shin Shin Toitsu Aikido for a combined century, and lead the training at all OKS dojos.
---

%h2.section Calvin Tabata sensei

.image.opposite= image_tag('tabata_sensei.jpg', alt: 'Calvin Tabata sensei', title: 'Calvin tabata sensei')

%p The Northwest Ki Federation is headed by Calvin Tabata. He is an 8th degree black belt in Shin Shin Toitsu Aikido, and holds an Okuden Ki rank.  He is also a full Lecturer in the Ki Society, and the Chief Instructor of the Personal Kiatsu&reg; School. He began his training in Hawaii and is a lifelong direct student of Ki Society founder <a href="/koichi_tohei_sensei.html" title="A brief bio of Koichi Tohei sensei">Koichi Tohei sensei</a>.  Tabata sensei has been teaching in the Northwest since 1970.  He established the Oregon Ki Society in 1974 and the Personal Kiatsu School in 1993.

%h2.section Louis Sloss sensei

.image.opposite= image_tag('sloss_sensei.jpg', alt: 'Louis Sloss sensei', title: 'Louis Sloss sensei')

%p The OKS Adult Ki and Aikido Programs are headed by Louis Sloss. He is a 7th degree black belt in Shin Shin Toitsu Aikido, holds an Okuden Ki rank and is a Full Lecturer in the Ki Society. He has practiced Aikido for over 30 years and has taught for more than 25 years.

%h2.section Brenda Tam sensei

.image.opposite= image_tag('tam_sensei.jpg', alt: 'Brenda Tam sensei', title: 'Brenda Tam sensei')

%p The OKS Children's Program is headed by Brenda Tam. She is also a 7th degree black belt in Shin Shin Toitsu Aikido, holds a Joden Ki rank and is a Full Lecturer in the Ki Society. She has practiced Aikido for more than 30 years and has taught both adults and children for more than 25 years.

%h2.section Who teaches where?

%p More information about the instructors at each dojo is available on the <a href="/locations/index.html" title="OKS dojo locations">dojo pages</a>.

- content_for :secondary_content do
  %h2 More information
  %p Please consult our <a href="/locations/index.html" title="OKS dojo locations">locations pages</a> for more information about the instructors at your nearest dojo.
  %p You can also read about <a href="/koichi_tohei_sensei.html" title="A brief bio">Ki Society founder Koichi Tohei sensei</a> and his son, <a href="/shinichi_tohei_sensei.html" title="A brief bio">Ki Society president Shinichi Tohei sensei</a>.
