---
title: Koichi Tohei sensei
meta_title: Koichi Tohei sensei
meta_description: Koichi Tohei sensei, founder of the Ki no Kenkyukai (Ki Society International).
---

= image_tag 'tohei_koichi_sensei.jpg', alt: 'Koichi Tohei sensei.  Photo from Ki Society International.', title: 'Koichi Tohei sensei.  Photo from Ki Society International.'

%p Master Koichi Tohei is the founder of Ki Society HQ.  He developed Ki Training, Kiatsu&reg; and Shinshin Toitsu Aikido.  Beginning in Hawaii in 1953, his travel and teaching over fifty years has spread Ki Principles and Mind &amp; Body Coordination around the world.  Koichi Tohei Sensei is famous for both his extraordinary performance of Shinshin Toitsu Aikido arts and his masterful teaching that allows all of us to learn Ki Principles.

%p Tohei sensei passed away on May 19th, 2011 at the age of 91. In July of 2011 a public farewell reception was held in his honor in Tokyo. Several instructors from the Oregon Ki Society were in attendance, and are pictured below. Tohei sensei is survived by his wife and children, including <a href="shinichi_tohei_sensei.html" title="A brief bio of Shinichi Tohei">Shinichi Tohei</a>, the current Chief Instructor and President of the Ki Society.

.image.centerpiece
  = image_tag('tohei_sensei_farewell_reception.jpg', alt: 'Oregon Ki Society instructors at Tohei Sensei\'s farewell reception, July 2011', title: 'Oregon Ki Society instructors at Tohei Sensei\'s farewell reception, July 2011')
  %p From left to right, Bob Jones sensei, John Gilmore sensei, Bob Hart sensei, Calvin Tabata sensei, Mrs. Tohei, Shinichi Tohei sensei, Louis Sloss sensei, Brenda Tam sensei, Mrs. Copperman, Terry Copperman sensei, Mrs. Sachiko Tohei.

- content_for :secondary_content do
  %h2 About our programs
  %p The Oregon Ki Society has programs in <a href="/ki/index.html" title="Mind and body coordination">Ki training</a>, <a href="/aikido/index.html" title="Aikido with mind and body coordinated">Aikido</a> and <a href="/kiatsu/index.html" title="Pressing with Ki, for personal health and healing">Kiatsu</a>.  We also have a <a href="/kids/index.html" title="Aikido training for kids">children's program</a> to teach Aikido to kids under the age of 15.
