---
title: Related links
meta_title: Related links
meta_description: Links about Ki and Aikido
---

%p Following is a list of links to sites which provide further information on the Northwest Ki Federation or Ki Society HQ.

= image_tag 'fence.jpg', alt: 'Bamboo fence. Photo by Brent Miller.', title: 'Bamboo fence. Photo by Brent Miller.'

%dl
  %dt <a href="http://www.ki-society.com/english/index.html" title="The parent organization of the Oregon Ki Society">Ki Society HQ</a>
  %dd This is the official home page of Ki Society HQ, straight from Japan. Although some of the pages are in English, most are in Japanese.

  %dt <a href="http://www.ki-society.com/english/renew/gakuin/index.html" title="Tohei Gakuen: the Tohei School">Tohei Gakuen</a>
  %dd Information regarding the Instructor's Program at Ki Society HQ in Japan.

  %dt <a href="http://ki-aikido.net/" title="The umbrella group for all U.S. Ki Federations">Ki Society USA</a>
  %dd This is the official page for the Ki Society USA, with information about Koichi Kashiwaya, Chief Instructor for the United States.

  %dt <a href="http://www.stlki.org/" title="In St. Louis, Missouri">St. Louis Ki Society</a>
  %dd Very nice page, complete with photo gallery and MPEG movie links.

  %dt <a href="http://unofficial.ki-society.org/" title="Lots of information about the Ki Society">Unofficial Ki Society home page</a>
  %dd Great site with information on Ki Society HQ, with links to many Ki Society web sites throughout the world.

  %dt <a href="http://www.shinichitohei.com/english/" title="Shinichi Tohei sensei is the son of Ki Society founder Koichi Tohei sensei">Shinichi sensei's blog</a>
  %dd Shinichi sensei writes weekly about Ki, Aikido, and daily life.

- content_for :secondary_content do
  %h2 More information
  %p Find out more about what we do: <a href="/ki/what_is_ki.html" title="What is Ki?">What is Ki?</a>
  %p Visit our <a href="/locations/index.html" title="Northwest Ki Federation dojos">locations page</a> to find a dojo near you.
