---
title: Shinichi Tohei sensei
meta_title: Shinichi Tohei sensei
meta_description: Shinichi Tohei sensei, President of the Ki no Kenkyukai (Ki Society International).
---

= image_tag 'tohei_shinichi_sensei.jpg', alt: 'Shinichi Tohei sensei. Photo from Ki Society International.', title: 'Shinichi Tohei sensei. Photo from Ki Society International.'

%p Shinichi Tohei sensei is the president and chief instructor of Ki Society HQ.  He is a dedicated life-long student of his father, Ki Society founder <a href="koichi_tohei_sensei.html" title="A brief bio of Koichi Tohei sensei">Koichi Tohei sensei</a>.  Shinichi Tohei Sensei now presides at Ki Society HQ in Japan, in charge of teaching, training and the organization in Japan and internationally.  Shinichi Tohei sensei teaches the National Ki Conference in the United States every summer.

%p Tohei sensei <a href="http://www.shinichitohei.com/english/">blogs regularly</a> in English.

- content_for :secondary_content do
  %h2 About our programs
  %p The Oregon Ki Society has programs in <a href="/ki/index.html" title="Mind and body coordination">Ki training</a>, <a href="/aikido/index.html" title="Aikido with mind and body coordinated">Aikido</a> and <a href="/kiatsu/index.html" title="Pressing with Ki, for personal health and healing">Kiatsu</a>.  We also have a <a href="/kids/index.html" title="Aikido training for kids">children's program</a> to teach Aikido to kids under the age of 15.
